body {
	margin: 0;
	margin: 0;
}

ul {
	list-style: none;
}
a{
	text-decoration: none;
	color: #fff;
}
h1 {
	font-size: 46px;
}

h2 {
	color: #fff;
}

li {
	list-style: none;
}

.warp {
	margin: 0 auto;
	width: 1140px;
}

.header {
	width: 100%;
	height: 100vh;
	overflow: visible;
	background: url(../images/bg.jpg) no-repeat;
	background-size: cover;
	padding-top: 10px;
	position: relative;
}

.search {
	float: right;
	margin-bottom: 5px;
}

.search form {
	position: relative;
}

.search form input {
	height: 32px;
	font-size: 14px;
	border: 1px solid white;
	background: none;
	outline: none;
	padding: 0 10px;
	margin-bottom: 5px;
}

.search form input:last-child {
	background: url(../images/search.png) no-repeat;
	width: 22px;
	height: 22px;
	border: none;
	background-position: center;
	position: absolute;
	right: 5px;
	top: 5px;
}


.top-menu {
	margin: 0 auto;
	padding: 0 5px;
	background-color: rgba(0, 0, 0, .3);
	overflow: hidden;
	line-height: 34px;
}

.menu {
	padding: 0;
	margin-bottom: 5px;
}

.top-menu li {
	list-style: none;
	float: left;
	margin: 0 10px;
	color: #fff;
	font-size: 1.1em;
	line-height: 34px;
	padding-top: 0;
	font-family: 'Open Sans', sans-serif;
	vertical-align: middle;
}

.top-menu li:after {
	content: "/";
	margin-left: 10px;
	font-style: normal;
}

.top-menu li:last-child:after {
	content: none;
}

.top-menu ul li a {
	color: white;
	text-decoration: none;
}

.top-menu ul li:first-child a {
	color: yellow;
	border-top: 4px solid #FAEE0D;
	margin-left: 20px;
}

.top-menu ul li a:hover {
	color: yellow;
	border-top: 4px solid #FAEE0D;
	transition: all 0.3s;
}

.first-li:hover {
	color: #FAEE0D;
}

.text {
	text-align: center;
	position: relative;
	margin: 15% auto;
	width: 220px;
	color: white;
	font-size: 60px;
	font-family: roman;
	overflow: visible;
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}





.card {
	position: relative;
	
	overflow: hidden;
	z-index: 9999;
	box-sizing: border-box;
}

.header .card li {
	position: relative;
	width: 25%;
	float: left;
}

.header .card li .box {
	background-color: #477EB7;
	text-align: center;
	color: white;
	padding: 20px;
	font-size: 16px;
	line-height: 24px;
	float: left;
	margin: 0 10px;

}

.header .card li .box img {
	display: inline-block;
	border: 8px solid white;
	border-radius: 50%;
	padding: 10px;
	transition: 1s;
	transform: rotatey(0deg);
}

.header .card li .box img:hover {
	color: #FFBB56;
	border: 8px solid #FFBB56;
	transform: rotatey(180deg);
}

.main {
	width: 100%;
	text-align: center;
	padding: 0;
	background-color: #eee;
	padding: 200px 0 100px 0;
	overflow: hidden;
}
.main::after,.article::after {
	content: '';
	display: block;
	clear: both;
}


.title {
	width: 100%;
	text-align: left;
	position: relative;
	float: left;
	margin-bottom: 50px;
}

.about-left {
	text-align: left;
	width: 50%;
	float: left;
	margin: 0;
	padding: 0;
}

.about-right {
	text-align: left;
	width: 50%;
	float: right;
}

.service {
	width: 100%;
	background-color: #000;
	overflow: hidden;
	color: #999;
}

.service h1 {
	color: #fff;
}

.service-box {
	position: relative;
}

.service-grids {
	width: 33%;
	float: left;
	text-align: center;
}

.grids {
	padding: 20px;
}

.grids img {
	background-color: #477EB7;
	border-radius: 15%;
	padding: 10px 15px;
	transition: all .3s;
}

.grids img:hover {
	background-color: darkorange;
}

.work {
	width: 100%;
	background-color: #eee;
	padding: 100px 0;
	position: relative;
}

.work-zone {
	overflow: hidden;
}

.work-card li {
	position: relative;
	width: 25%;
	float: left;
}
.work-zone li img{
	display: block;
	width: 100%;
}

.min-box{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color:rgba(0,0,0,.2);
	text-align: center;
	transform: scale(0);
	transition: all .5s;
	box-shadow: 0 0 20px #fff;
}
.work-card li .min-box img{
	width: auto;
	height: auto;
	display: inline;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
}

.work-card li:hover .min-box{
	transform: scale(1);
}

.work-card li .min-box img{
	
}

.news{
	width: 100%;
	background-color: #fff;
}
.news-card{
	text-align: left;
	padding: 40px 0;
}
.news-card img{
	width: 90%;
	margin: 0 auto;
}
.btn a{
	z-index: 99;
	position: relative;
}
.btn{
	width: 35%;
	background-color: #f2af00;
	padding: 15px;
	line-height: 20px;
	text-align: center;
	color: #fff;
	font-weight: bold;
	margin: 15px auto;
	display: block;
	float: left;
	transition: all 1s;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.btn:hover .btnblockT{
	transform: rotateX(90deg);
}
/* .btn:hover .btnblockB{
	transform: rotateX(0deg);
} */
.btnblockT{
	width: 100%;
	height: 100%;
	background-color: #477EB7;
	display: block;
	float: left;
	top: 0;
	left: 0;
	position: absolute;
	transform: rotateX(0deg);
	transition: all .3s; 
}
/* .btnblockB{
	width: 100%;
	height: 100%;
	background-color: #f2af00;
	display: block;
	float: left;
	bottom: -50%;
	left: 0;
	position: absolute;
	transform: rotateX(90deg);
	transition: all .3s;
} */

.contact{
	color: #fff;
	width: 100%;
	overflow: hidden;
	background-color: #3f454d;
	padding: 80px 0;
}
.contact h4{
	font-size: 35px;
}
.contact h5{
	margin: 0;
	font-size: 22px;
	cursor: pointer;
}
.contact h5:hover{
	color: #FF8C00;
}
.contact-box{
	
}
.contact-card{
	width: 33%;
	float: left;
}
.id-pic{
	width: 25%;
	float: left;
	position: relative;
}
.id-pic img{
	width: 100%;
	margin-right: 25px;
	float: left;
}
.id-txt{
	width: 75%;	
	position: relative;
	/* margin-left: 15px; */
	left: 10px;
}
.id-txt p{
	color: #999999;
	font-size: 14px;
	line-height: 18px;
	margin-left: 15px;
}
.list a{
	color: #999;
	font-weight: normal;
	font-size: 16px;
	padding-left: 15px;
	line-height: 40px;
	display: block;
	float: left;
	cursor: pointer;
	background: url(../images/list-arrow.png) no-repeat;
	background-position: left;
}
.list a:hover{
	color: #FF8C00;
}
.addr-card{
	line-height: 30px;
}
.addr-card ul li{
	width: 100%;
	position: relative;
	margin-top: 30px;
}
.icon{
	width: 40px;
	height: 40px;
	left: -45px;
	top: 25%;
	position: absolute;
}
.icon1{
	background: url(../images/img-sprite1.png) no-repeat -220px 0px;
}
.icon2{
	background: url(../images/img-sprite1.png) no-repeat -260px 0px;
}
.icon3{
	background: url(../images/img-sprite1.png) no-repeat -300px 0px;
}
.icon4{
	background: url(../images/img-sprite1.png) no-repeat 0 0;
}
.icon5{
	background: url(../images/img-sprite1.png) no-repeat -55px 0;
}
.icon6{
	background: url(../images/img-sprite1.png) no-repeat -110px 0;
}
.icon7{
	background: url(../images/img-sprite1.png) no-repeat -165px 0;
}


#footer{
	width: 100%;
	background-color: #eee;
	overflow: hidden;
	text-align: center;
}
.footer{
	padding: 55px;
}
.icon-type2{
	width: 55px;
	height: 55px;
	margin: auto;
	display: inline-block;
	
}
.icon-type2:hover{
	opacity: 0.6;
	cursor: pointer;
}
.end li{
	margin: 15px;
	display: inline-block;
	font-size: 16px;
}
